# Hugo
/public/
/resources/_gen/
.hugo_build.lock

# Node
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Scratch & Temporary
/scratch/
*.tmp
*.log
push_to_github.bat

# OS & Editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/

# Environment
.env
.env.*
!.env.example
